/* global */

a {
	text-decoration: none;
}

/* imagelist */

#imagelist img {
	border: 0 none;
	max-width: 100px;
}

#imagelist .left {
	float: left;
	margin-right: 10px;
	text-align: center;
}

#imagelist .row
{
	margin-top: 10px;
}

/* upload */

img {
	border: 0 none;
	width: 100px;
}

a {
	text-decoration: none;
}